USE [master]
GO
/****** Object:  Database [MFC_Technic]    Script Date: 11.04.2023 18:10:44 ******/
CREATE DATABASE [MFC_Technic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MFC_Technic_Data', FILENAME = N'C:\Users\Максим\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\MFC_Technic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MFC_Technic_Log', FILENAME = N'C:\Users\Максим\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\MFC_Technic.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MFC_Technic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MFC_Technic]
GO
/****** Object:  Table [dbo].[EquipmentAccounting]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentAccounting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Equipment] [int] NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[InventoryNumber] [nvarchar](max) NULL,
	[EquipmentStatus] [int] NULL,
	[DeliveryDate] [datetime] NULL,
 CONSTRAINT [PK_EquipmentAccounting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentModel]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentModel](
	[ID_ModelE] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentType] [int] NULL,
	[EquipmentName] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
 CONSTRAINT [PK_EquipmentModel] PRIMARY KEY CLUSTERED 
(
	[ID_ModelE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[Id_type] [int] IDENTITY(1,1) NOT NULL,
	[TypeEquipment] [nvarchar](max) NULL,
 CONSTRAINT [PK_EquipmentCompany] PRIMARY KEY CLUSTERED 
(
	[Id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_role] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11.04.2023 18:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_user] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMiddleName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[UserRole] [int] NULL,
	[Login] [nvarchar](15) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EquipmentAccounting]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentAccounting_EquipmentModel] FOREIGN KEY([Equipment])
REFERENCES [dbo].[EquipmentModel] ([ID_ModelE])
GO
ALTER TABLE [dbo].[EquipmentAccounting] CHECK CONSTRAINT [FK_EquipmentAccounting_EquipmentModel]
GO
ALTER TABLE [dbo].[EquipmentAccounting]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentAccounting_Status] FOREIGN KEY([EquipmentStatus])
REFERENCES [dbo].[Status] ([ID_status])
GO
ALTER TABLE [dbo].[EquipmentAccounting] CHECK CONSTRAINT [FK_EquipmentAccounting_Status]
GO
ALTER TABLE [dbo].[EquipmentModel]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentModel_EquipmentType] FOREIGN KEY([EquipmentType])
REFERENCES [dbo].[EquipmentType] ([Id_type])
GO
ALTER TABLE [dbo].[EquipmentModel] CHECK CONSTRAINT [FK_EquipmentModel_EquipmentType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([ID_role])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
